@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 100% 56%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --border: 214 32% 91%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215 16% 46%;
}

@keyframes shine {
  0% {
    left: -75%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 125%;
    opacity: 0;
  }
}

.animate-shine {
  animation: shine 1.2s linear infinite;
}
.gradient-animate {
  background: linear-gradient(120deg, #6EECA0, #45d6e2, #6EECA0);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.bg-3d-section {
  background-image: url('/img/background.png');
}